apiVersion: v1
kind: ReplicationController
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      volumes:
      - name: redis-persistent-storage 
        hostPath:
          path: /var/redis/6379
      containers:
      - name: redis
        image: registry.chenliujin.com:5000/redis:4.0.1
        imagePullPolicy: Always
        ports:
        - containerPort: 6379
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 10
        resources:
          limits:
            cpu: "0.1"
        volumeMounts:
          - name: redis-persistent-storage
            mountPath: /var/redis/6379
      imagePullSecrets:
      - name: registry.chenliujin.com

